/* Створити селектор кнопки з округлими краями, задати фоновий градієнт */
.button {
  border-radius: 5px; /* Округліть кути кнопки на 5 пікселів */
  background: var(
    --Gradient,
    linear-gradient(90deg, #2563eb 0.36%, #d946ef 201.02%)
  ); /* Задайте фоновий градієнт для кнопки */
  border: none; /* Видаліть межі кнопки */
}

.button a {
  text-decoration: none;
  color: #f9fafb;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s ease;
}

.button a:hover {
  color: #cacaca;
}

/* Стилізувати фонове зображення та шрифт для сторінки */
body {
  background: url(../img/global__bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: "DM Sans";
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

/* header */

header {
  padding: 24px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.header-list {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.header-item {
  margin: 12px;
}

.header-link {
  text-decoration: none;
  color: #f9fafb;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s ease;
}

.header-link:hover {
  color: #d946ef;
}

.header-button {
  padding: 12px 24px;
  line-height: 1.5;
}
